<template>
  <div>
    <div class="head">Выберите услугу</div>
    <ul v-for="(section, index) of menuItems" :key="index" class="section">
      <li class="header"><b-icon :icon="section.icon" /> {{ section.name }}</li>
      <li v-for="(item, key) of section.items" :key="key">
        <nuxt-link :to="item.to" exact-active-class="is-active">
          {{ item.title }}
        </nuxt-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    /*    title: {
      type: String,
      required: true
    },
    icon: {
      type: String,
      required: true
    } */
  },
  data() {
    return {
      menuItems: [
        {
          name: 'Сигнализации',
          icon: 'home',
          items: [
            {
              title: 'Установка новой',
              to: '/alarms/installation'
            },
            {
              title: 'Починить имеющуюся',
              to: '/alarms/repair'
            },
            {
              title: 'Заменить брелок',
              to: '/alarms/new-trinket'
            },
            {
              title: 'Добавить управление с телефона в имеющуся',
              to: '/alarms/add-gsm'
            },
            {
              title: 'Добавить определение местоположения в имеющуюся',
              to: '/alarms/add-gps'
            },
            {
              title: 'Добавить автозапуск в имеющуюся',
              to: '/alarms/add-autostart'
            },
            {
              title: 'Демонтаж старой',
              to: '/alarms/dismantle'
            },
            {
              title: 'Ремонт брелка',
              to: '/alarms/trinket-repair'
            }
          ]
        },
        {
          name: 'Маяки',
          icon: 'alarm_on',
          items: [
            {
              title: 'Установка нового',
              icon: 'home',
              to: '/beacons/installation'
            },
            {
              title: 'Починить, обслужить имеющийся',
              icon: 'lightbulb',
              to: '/beacons/repair'
            }
          ]
        },
        {
          name: 'Механические блокираторы',
          icon: 'usb',
          items: [
            {
              title: 'Установка нового',
              icon: 'home',
              to: '/mechanical-locks/installation'
            },
            {
              title: 'Починить, обслужить имеющийся',
              icon: 'lightbulb',
              to: '/mechanical-locks/repair'
            }
          ]
        },
        {
          name: 'Камеры заднего вида',
          icon: 'usb',
          items: [
            {
              title: 'Установка новой',
              icon: 'home',
              to: '/rear-cameras/installation'
            },
            {
              title: 'Починить имеющуюся',
              icon: 'lightbulb',
              to: '/rear-cameras/repair'
            }
          ]
        },
        {
          name: 'Парковочные радары',
          icon: 'usb',
          items: [
            {
              title: 'Установка нового',
              icon: 'home',
              to: '/parking-radars/installation'
            },
            {
              title: 'Починить имеющуйся',
              icon: 'lightbulb',
              to: '/parking-radars/repair'
            }
          ]
        },
        {
          name: 'Регистраторы, радар-детекторы, зеркала-мониторы',
          icon: 'usb',
          items: [
            {
              title: 'Скрытая установка',
              icon: 'home',
              to: '/electronic-addons/installation'
            }
          ]
        },
        {
          name: 'Магнитолы (головные устройства)',
          icon: 'usb',
          items: [
            {
              title: 'Установка новой',
              icon: 'home',
              to: '/radios/installation'
            },
            {
              title: 'Снять старую',
              icon: 'lightbulb',
              to: '/radios/dismantle'
            }
          ]
        },
        {
          name: 'Акустика',
          icon: 'usb',
          items: [
            {
              title: 'Установка новой, доработка имеющейся',
              icon: 'home',
              to: '/acoustics/installation'
            },
            {
              title: 'Ремонт имеющейся',
              icon: 'home',
              to: '/acoustics/repair'
            }
          ]
        },
        {
          name: 'Усилители',
          icon: 'usb',
          items: [
            {
              title: 'Установка нового',
              icon: 'home',
              to: '/amplifiers/installation'
            },
            {
              title: 'Ремонт имеющегося',
              icon: 'lightbulb',
              to: '/amplifiers/repair'
            }
          ]
        },
        {
          name: 'Сабвуферы',
          icon: 'usb',
          items: [
            {
              title: 'Установка нового',
              icon: 'home',
              to: '/subwoofers/installation'
            },
            {
              title: 'Ремонт имеющегося',
              icon: 'lightbulb',
              to: '/subwoofers/repair'
            }
          ]
        },
        {
          name: 'Шумоизоляция',
          icon: 'usb',
          items: [
            {
              title: 'Шумоизоляция элементов',
              icon: 'home',
              to: '/sound-insulation'
            }
          ]
        },
        {
          name: 'Тонирование',
          icon: 'usb',
          items: [
            {
              title: 'Тонирование стекол',
              icon: 'home',
              to: '/tinting/'
            },
            {
              title: 'Снятие старой пленки',
              icon: 'lightbulb',
              to: '/tinting/dismantle'
            }
          ]
        },
        {
          name: 'Бронирование',
          icon: 'usb',
          items: [
            {
              title: 'Бронирование элементов кузова',
              icon: 'home',
              to: '/arming/'
            },
            {
              title: 'Снятие старой пленки',
              icon: 'lightbulb',
              to: '/arming/dismantle'
            }
          ]
        }
      ]
    }
  }
}
</script>
