<template>
  <ul>
    <li v-for="(item, index) of navItems" :key="index">
      <nuxt-link :to="item.to" exact-active-class="is-active">
        {{ item.title }}
      </nuxt-link>
    </li>
  </ul>
</template>

<style scoped>
ul li {
  display: inline;
  margin: 0 10px;
}
ul li:last-child {
  margin: 0;
}
</style>

<script>
export default {
  props: {
    /*    title: {
      type: String,
      required: true
    },
    icon: {
      type: String,
      required: true
    } */
  },
  data() {
    return {
      navItems: [
        {
          title: 'О нас',
          to: '/abous-us'
        },
        {
          title: 'Адреса и контакты',
          to: '/contacts'
        },
        {
          title: 'Реквизиты организации',
          to: '/'
        },
        {
          title: 'Как оплатить?',
          to: '/'
        },
        {
          title: 'Почитать отзывы, написать свой',
          to: '/'
        },
        {
          title: 'Наши работы',
          to: '/'
        }
      ]
    }
  }
}
</script>
