<template>
  <div>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-8">
            <nuxt />
          </div>
          <div class="column is-4">
            <Menu />
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <Navigation />
      </div>
    </footer>
  </div>
</template>

<style scoped>
.footer {
  padding: 1.5rem 0.5rem 3rem;
}
</style>

<script>
import Menu from '~/components/menu'
import Navigation from '~/components/navigation'

export default {
  components: {
    Menu,
    Navigation
  },
  data() {
    return {}
  }
}
</script>
