<template>
  <div>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-9">
            <nuxt />
          </div>
          <div class="column is-3">
            <Menu />
          </div>
        </div>
      </div>
    </section>
    <div class="footer-logo has-text-centered">
      <img src="~assets/logo.png" />
    </div>
    <footer class="footer">
      <div class="has-text-centered">
        <Navigation />
      </div>
    </footer>
  </div>
</template>

<style scoped>
.footer {
  padding: 1.5rem 0.5rem 3rem;
}
.footer-logo {
  padding: 0 0 30px;
}
.footer-logo img {
  width: 120px;
}
</style>

<script>
import Menu from '~/components/menu'
import Navigation from '~/components/navigation'

export default {
  components: {
    Menu,
    Navigation
  },
  data() {
    return {}
  }
}
</script>
