<template>
  <section class="section">
    <h1 class="title">
      Установка сигнализаций в Самаре
    </h1>
    <p>Какую сигнализацию планируете установить?</p>
    <b-field>
      <b-radio-button v-model="alarmType" native-value="no-choose">
        <span>Выберу на месте</span>
      </b-radio-button>

      <b-radio-button v-model="alarmType" native-value="choose-now">
        <span>Выберу онлайн</span>
      </b-radio-button>

      <b-radio-button v-model="alarmType" native-value="already-bought">
        <span>Приеду со своей</span>
      </b-radio-button>
    </b-field>
  </section>
</template>

<script>
export default {
  layout: 'pages',
  data() {
    return {
      alarmType: ''
    }
  }
}
</script>
